.content {
	max-width: 1000px;
	margin: auto;
}

body {
	background-color: gainsboro;
}

h1 {
	text-align: center;
	font-family: HelveticaBold; 
	font-size: 50px;
	letter-spacing: 3px;
	color: darkslateblue;
}

a {
	font-family: Helvetica;
	font-size: 20px;
}

h4 {
	font-family: HelveticaBold;
	font-size: 24px;
	color: black;
}

li{
	font-family: Helvetica;
	font-size: 18px;
	color: black;
}
