.content {
	max-width: 1000px;
	margin: auto;
}

body {
	background-color: ivory;
}

h1 {
	font-family: HelveticaBold; 
	font-size: 60px;
	letter-spacing: 3px;
	color: navy;
}

h2 {
	font-family: HelveticaBold;
	font-size: 50;
	letter-spacing: 3px;
	color: navy;
}

h3 {
	font-family: HelveticaBold;
	font-size: 30;
	letter-spacing: 3px;
	color: navy;
}

h4 {
	font-family: HelveticaBold;
	font-size: 24px;
	color: black;
}

li{
	font-family: Helvetica;
	font-size: 18px;
	color: black;
}
